    .card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .details {
    padding: 10px 0;
  }
  
  .price {
    color: red;
    font-weight: bold;
  }
  
  .oldPrice {
    text-decoration: line-through;
    color: #999;
    margin-left: 5px;
  }
  
  button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
  